@font-face {
  font-family: "Igra Sans";
  src: url("../fonts/IgraSans.otf");
}

h1 {
  font-family: "Igra Sans";
  font-size: 26px;
  line-height: 26px;
  color: #404040;
  margin-bottom: 30px;

  @media (max-width: 1350px) {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
  }
}

h2{
  font-family: "Igra Sans";
font-size: 14px;
line-height: 14px;
color: #404040;
margin-bottom: 26px;
}

h3{
  font-family: "Igra Sans";
  font-size: 12px;
  line-height: 12px;
color: #404040;
margin-bottom: 5px;
}


body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}

.container-main {
  padding: 40px 16px;
  margin: 0 auto;
  overflow: hidden;
}

.container-content {
  margin: 0 auto;
  max-width: 1620px;
  background: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  position: relative;
  margin-bottom: 40px;

  &--transparent {
    background: none;
    box-shadow: none;
    border-radius: none;
  }

  &--footer {
    margin-top: 62px;
    margin-bottom: 0px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1620px;
  margin: 0 auto 40px;
  &-text {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #404040;
  }

  &-menu {
    width: 110px;
    background: #f0af3b;
    border-radius: 6px;
    margin-right: 20px;
    display: flex;
    padding: 15px 20px 15px 20px;

    @media (max-width: 400px) {
      padding: 15px;
      width: 100%;
      margin-right: 0px;
    }

    &__name {
      font-family: "Igra Sans";
      font-size: 12px;
      line-height: 12px;
      color: #ffffff;

      @media (max-width: 400px) {
        display: none;
      }
    }

    &-burger {
      width: 19px;
      height: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin-right: 10px;

      @media (max-width: 400px) {
        margin-right: 0px;
      }

      &__line {
        width: 11px;
        height: 2px;
        background: #ffffff;
        border-radius: 4px;
        left: 0;

        &::before {
          content: " ";
          width: 19px;
          height: 2px;
          background: #ffffff;
          border-radius: 4px;
          top: 0px;
          left: 0;
          position: absolute;
        }

        &::after {
          position: absolute;
          content: " ";
          width: 16px;
          height: 2px;
          background: #ffffff;
          border-radius: 4px;
          bottom: 0px;
          left: 0;
        }
      }
    }
  }

  &__menu-block {
    display: flex;
    height: 43px;
    margin-right: 20px;
  }

  &__links {
    display: flex;
    min-width: 448px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1300px) {
      display: none;
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 100%;
    font-family: "Igra Sans";
    font-size: 21px;
    line-height: 21px;
    color: #404040;
    @media (max-width: 1300px) {
      display: none;
    }

    &--yellow {
      font-family: "Igra Sans";
      font-size: 21px;
      line-height: 21px;
      color: #f0af3b;
    }
  }

  &__right-block {
    display: flex;
    justify-content: space-between;
    max-width: 743px;
  }

  &-order-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 95px;

    @media (max-width: 1300px) {
      display: none;
    }

    &__title {
      font-family: "Igra Sans";
      font-size: 12px;
      line-height: 12px;
      color: #999999;
      margin-bottom: 2px;
    }

    &__time {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #404040;
    }
  }

  &-phone-number {
    display: flex;
    width: 178px;
    height: 44px;
    border: 2px dashed #e6e6e6;
    border-radius: 6px;
    justify-content: center;
    align-items: center;

    @media (max-width: 1300px) {
      display: none;
    }

    &__icon {
      margin-right: 16px;
      height: 14px;
      width: 14px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.993 11.046a.677.677 0 01-.207.593l-1.971 1.956a1.11 1.11 0 01-.349.252c-.143.07-.284.114-.422.133l-.089.008c-.05.005-.114.007-.193.007-.187 0-.491-.032-.911-.096-.42-.064-.934-.222-1.541-.474-.608-.252-1.297-.63-2.068-1.134-.77-.504-1.59-1.196-2.46-2.075a16.24 16.24 0 01-1.72-1.956A13.937 13.937 0 01.967 6.533a9.3 9.3 0 01-.623-1.437c-.138-.43-.232-.8-.281-1.112a3.67 3.67 0 01-.06-.734c.01-.178.015-.276.015-.296.02-.138.065-.28.134-.423.069-.143.153-.259.252-.348L2.373.212a.653.653 0 01.475-.207c.129 0 .242.037.34.11.1.075.184.166.253.275l1.586 3.009a.721.721 0 01.074.518.924.924 0 01-.252.475l-.726.726a.247.247 0 00-.052.096.366.366 0 00-.022.111c.04.208.128.445.266.712.119.237.302.526.549.867.247.34.597.733 1.052 1.178.445.454.84.808 1.186 1.06.345.251.634.437.867.555.232.119.41.19.533.215l.185.037c.02 0 .052-.007.097-.022a.248.248 0 00.096-.052l.845-.86a.908.908 0 01.622-.237c.168 0 .302.03.4.09h.015l2.86 1.689c.208.128.332.291.371.49z' fill='%23F0AF3B'/%3e%3c/svg%3e");
    }

    &__number {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #404040;
    }
  }

  &-button {
    width: max-content;
    height: 46px;
    background: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-right: 20px;
    display: flex;
    padding: 15px;

    &:last-child {
      margin-right: 0;
    }

    &__basket {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.23 4.962l1.616-3.77M10.77 4.962l-1.616-3.77' stroke='%23F0AF3B' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M1.246 4.885h11.508L11.288 11.5H2.712L1.246 4.885z' fill='%23fff' stroke='%23F0AF3B' stroke-width='2'/%3e%3crect x='4.5' y='7' width='1' height='2' rx='.5' fill='%23F0AF3B'/%3e%3crect x='6.5' y='7' width='1' height='2' rx='.5' fill='%23F0AF3B'/%3e%3crect x='8.5' y='7' width='1' height='2' rx='.5' fill='%23F0AF3B'/%3e%3c/svg%3e");
      width: 14px;
      height: 13px;
      background-size: cover;
    }

    &__text {
      margin-right: 7px;
    }

    &__profile {
      width: 12.5px;
      height: 14px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.507 14.88A6.254 6.254 0 001 14.88' stroke='%23F0AF3B' stroke-width='2' stroke-linecap='round'/%3e%3ccircle cx='7.255' cy='5.05' r='3.169' stroke='%23F0AF3B' stroke-width='2'/%3e%3c/svg%3e");
      background-size: cover;
    }

    &__likes {
      width: 16px;
      height: 14px;
      background-image: url("../img/header/like.svg");
      background-size: cover;
    }
  }
}

.links__header {
  margin-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #404040;
}

.section {
  display: flex;
  padding: 50px;
  justify-content: space-between;

  @media (max-width: 1300px) {
    padding: unset;
  }

  &-text {
    &__view-menu {
      font-family: "Igra Sans";
      font-size: 16px;
      line-height: 16px;
      color: #ffffff;
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    margin-left: 77px;
    justify-content: center;
    max-width: 520px;

    @media (max-width: 1300px) {
      margin-left: 0px;
      width: 100%;
      align-items: center;
      max-width: unset;
      padding: 50px;
    }

    &__title {
      font-family: "Igra Sans";
      font-size: 44px;
      line-height: 44px;
      color: #404040;
      margin-bottom: 45px;

      @media (max-width: 1580px) {
        max-width: 250px;
      }

      @media (max-width: 1300px) {
        max-width: unset;
        text-align: center;
        font-size: 22px;
        line-height: 22px;
      }
    }

    &__view-menu {
      width: 212px;
      height: 56px;
      background: #f0af3b;
      box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.07), 0px 15px 30px rgba(240, 175, 59, 0.2);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      display: none;
      flex-direction: row;

      @media (max-width: 1300px) {
        display: flex;
        margin-bottom: 20px;
      }
    }
  }

  &-background {
    width: 633px;
    height: 418px;
    background: #f7f7f7;
    border-radius: 8px;
    position: absolute;
    right: 40px;
    top: 10%;

    @media (max-width: 1300px) {
      display: none;
    }
  }

  &-info {
    display: flex;
    position: relative;
    width: 633px;
    height: 418px;
    margin-left: 150px;

    @media (max-width: 1300px) {
      display: none;
    }
  }

  &-image {
    height: 254px;
    width: 281px;
    margin-right: 35px;
  }
}

.item {
  height: max-content;
  display: inline-block;
  top: 20%;
  position: relative;
  left: -20%;
  display: flex;

  &-info {
    display: flex;
    flex-direction: column;
    height: 243px;

    &__price-quantity {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }

    &__price {
      display: flex;
      margin-right: 20px;

      @media (max-width: 490px) {
        min-width: 99px;
      }
    }

    &__quantity {
      font-family: "Roboto";
      font-size: 14px;
      line-height: 16px;
      color: #404040;
    }

    &-button {
      width: 225px;
      height: 50px;
      background: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      font-family: "Igra Sans";
      font-size: 14px;
      line-height: 14px;
      color: #404040;
      display: flex;
      align-items: center;
      padding: 0;
      display: flex;
      justify-content: center;

      &__name {
        margin-right: 10px;
      }

      &__basket {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.23077 4.76923L4.84616 1M10.7692 4.76923L9.15384 1' stroke='%23fff' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M1.24585 4.69226H12.7542l-1.466 6.61534H2.71176L1.24585 4.69226z' fill='%23F0AF3B' stroke='%23fff' stroke-width='2'/%3e%3crect x='4.5' y='6.80774' width='1' height='2' rx='.5' fill='%23fff'/%3e%3crect x='6.5' y='6.80774' width='1' height='2' rx='.5' fill='%23fff'/%3e%3crect x='8.5' y='6.80774' width='1' height='2' rx='.5' fill='%23fff'/%3e%3c/svg%3e");
        width: 14px;
        height: 13px;
        background-size: cover;
      }
    }

    &__button-counter {
      display: flex;
      position: relative;
      align-items: center;
      z-index: 1;
    }

    &__counter {
      width: 47px;
      height: 38px;
      background: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Igra Sans";
      font-size: 14px;
      line-height: 14px;
      color: #404040;
      left: 5px;
      position: relative;
      z-index: -1;
    }

    &__plus {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='18' height='18' rx='6' fill='%23fff'/%3e%3crect x='5' y='8' width='8' height='2' rx='1' fill='%234CBE66'/%3e%3crect x='10' y='5' width='8' height='2' rx='1' transform='rotate(90 10 5)' fill='%234CBE66'/%3e%3c/svg%3e");
      width: 18px;
      height: 18px;
      position: absolute;
      top: -3px;
      left: 20px;
    }

    &__minus {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='18' height='18' rx='6' fill='%23fff'/%3e%3crect x='5' y='8' width='8' height='2' rx='1' fill='%23FB5B1D'/%3e%3c/svg%3e");
      width: 18px;
      height: 18px;
      position: absolute;
      bottom: -3px;
      left: 20px;
    }
  }

  &-text {
    &__type {
      font-family: "Igra Sans";
      font-size: 14px;
      line-height: 14px;
      color: #404040;
      opacity: 0.5;
      margin-bottom: 10px;
    }

    &__name {
      font-family: "Igra Sans";
      font-size: 32px;
      line-height: 32px;
      color: #404040;
      margin-bottom: 10px;
    }

    &__composition {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #404040;
      margin-bottom: 25px;
    }

    &__price {
      font-family: "Igra Sans";
      font-size: 16px;
      line-height: 16px;
      color: #404040;
    }
  }
}
.swiper-slide {
  height: 100%;
  position: relative;
  transition-property: transform;
  display: flex;
  justify-content: space-between;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: 0;
  left: 50%;
  left: 190px;
  bottom: 60px;
}

.swiper-pagination-bullet {
  width: 46px;
  height: 5px;
  background: #404040;
  opacity: 0.1;
  border-radius: 4px;
  margin-right: 10px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #f0af3b;
  box-shadow: 0px 5px 15px rgba(240, 175, 59, 0.5);
  border-radius: 6px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 240px;

  &-item {
    display: flex;
    justify-content: space-between;
    width: 48%;
    height: 220px;
    background: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-bottom: 18px;
    padding: 30px 40px 60px 30px;
    transition: 20ms linear;
    position: relative;

    @media (min-width: 1700px) {
      max-width: 528px;
      &:nth-child(3n) {
        margin-right: 0px !important;
      }
    }

    &:hover {
      background-image: url("../img/tiles/hover/bottom-left.svg"), url("../img/tiles/hover/bottom-right.svg"),
        url("../img/tiles/hover/top-left.svg");
      background-position: left bottom, right bottom, left top;
      background-repeat: no-repeat;
    }

    @media (max-width: 1300px) {
      width: 48%;
      height: 100px;
      overflow: hidden;
      min-width: 168px;
      margin-right: 10px;
      margin-bottom: 10px;

      &:nth-child(2n) {
        margin-right: 0px;
      }
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-right: 0px;
    }

    &__title {
      font-family: "Igra Sans";
      font-size: 26px;
      line-height: 26px;
      color: #404040;
      margin-top: 30px;
      max-width: 170px;

      @media (max-width: 1300px) {
        font-size: 14px;
        line-height: 14px;
        margin-top: unset;
      }
    }

    &__picture {
      width: 176px;
      height: 160px;

      @media (max-width: 1300px) {
        width: 76px;
        height: 70px;
        position: absolute;
        right: -25px;
        top: 15%;
      }
    }
  }
}

.item-box {
  width: 391px;
  height: 548px;
  background: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 45px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;

  @media (max-width: 1660px) {
    width: 100%;
  }

  @media (max-width: 1350px) {
    width: 100%;
    height: 381px;
    padding: 25px;
  }

  @media (max-width: 490px) {
    width: 100%;
  }

  &-button {
    background: #f0af3b;
    box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.07), 0px 15px 30px rgba(240, 175, 59, 0.2);
    width: 269px;
    color: #fefefe;
  }

  &-counter {
    @media (max-width: 1350px) {
      display: none;
    }
  }

  &-plus {
    @media (max-width: 1350px) {
      display: none;
    }
  }

  &-minus {
    @media (max-width: 1350px) {
      display: none;
    }
  }

  &__pictures {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 33px;

    @media (max-width: 490px) {
      height: inherit;
      margin-right: 0;
    }

    @media (max-width: 1350px) {
      margin-bottom: 20px;
    }
  }

  &-add-like {
    display: flex;
    align-items: center;
    min-width: 37px;
    justify-content: space-between;

    &__counter {
      font-family: "Igra Sans";
      font-size: 12px;
      line-height: 12px;
      color: #404040;
      margin-left: 5px;
    }
  }

  &-image {
    width: 171px;
    height: 177px;

    @media (max-width: 1350px) {
      width: 108px;
      height: 112px;
      position: relative;
    }
  }

  &-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    margin-right: 53px;
    min-height: 80px;

    @media (max-width: 490px) {
      margin-right: 0;
    }

    &__favorite {
      padding: 0;
      width: 20px;
      height: 18px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.0148 7.44157l-.0034.00315-3.4299 3.25998-.0195.0186-.0185.0195a1.3001 1.3001 0 00-.3467 1.04l.0034.03.0052.0298.8101 4.61.001.0059a.35203.35203 0 01-.1483.3541l-.0125.0085-.0122.0088a.41813.41813 0 01-.2448.0796l-.0058.0001a.43822.43822 0 01-.204-.0488l-.0004-.0002-4.2301-2.1799-.0172-.0089-.0176-.0083a1.31947 1.31947 0 00-.55825-.1239 1.319 1.319 0 00-.55808.1239l-.01762.0083-.01728.0089-4.23004 2.1799h-.00001l-.00532.0028a.42702.42702 0 01-.22913.0475.42748.42748 0 01-.21972-.0804l-.01259-.0092-.01288-.0087a.35219.35219 0 01-.12674-.1551.35153.35153 0 01-.02165-.199l.00103-.0059.81-4.61.00523-.0298.00342-.03a1.30023 1.30023 0 00-.05837-.5584 1.29967 1.29967 0 00-.28831-.4816l-.01847-.0195-.01951-.0186-3.42999-3.25998v-.00001L1.116 7.44158a.36898.36898 0 01-.09743-.38427.414.414 0 01.33624-.27684l.00001.00002.00581-.00082 4.72767-.66971a1.28619 1.28619 0 00.97762-.70519L9.178 1.23036a.44105.44105 0 01.15958-.16694A.44056.44056 0 019.56535 1a.44103.44103 0 01.38747.23036L12.0649 5.4048a1.28615 1.28615 0 00.9828.70585l4.7225.66902v.00001l.0058.00079a.41404.41404 0 01.208.09108.41394.41394 0 01.1283.18569.36955.36955 0 01.0074.20583.36995.36995 0 01-.1049.1785z' stroke='%23F0AF3B' stroke-width='2'/%3e%3c/svg%3e");

      &--focus {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='18' fill='%23F0AF3B' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.0148 7.44157l-.0034.00315-3.4299 3.25998-.0195.0186-.0185.0195a1.3001 1.3001 0 00-.3467 1.04l.0034.03.0052.0298.8101 4.61.001.0059a.35203.35203 0 01-.1483.3541l-.0125.0085-.0122.0088a.41813.41813 0 01-.2448.0796l-.0058.0001a.43822.43822 0 01-.204-.0488l-.0004-.0002-4.2301-2.1799-.0172-.0089-.0176-.0083a1.31947 1.31947 0 00-.55825-.1239 1.319 1.319 0 00-.55808.1239l-.01762.0083-.01728.0089-4.23004 2.1799h-.00001l-.00532.0028a.42702.42702 0 01-.22913.0475.42748.42748 0 01-.21972-.0804l-.01259-.0092-.01288-.0087a.35219.35219 0 01-.12674-.1551.35153.35153 0 01-.02165-.199l.00103-.0059.81-4.61.00523-.0298.00342-.03a1.30023 1.30023 0 00-.05837-.5584 1.29967 1.29967 0 00-.28831-.4816l-.01847-.0195-.01951-.0186-3.42999-3.25998v-.00001L1.116 7.44158a.36898.36898 0 01-.09743-.38427.414.414 0 01.33624-.27684l.00001.00002.00581-.00082 4.72767-.66971a1.28619 1.28619 0 00.97762-.70519L9.178 1.23036a.44105.44105 0 01.15958-.16694A.44056.44056 0 019.56535 1a.44103.44103 0 01.38747.23036L12.0649 5.4048a1.28615 1.28615 0 00.9828.70585l4.7225.66902v.00001l.0058.00079a.41404.41404 0 01.208.09108.41394.41394 0 01.1283.18569.36955.36955 0 01.0074.20583.36995.36995 0 01-.1049.1785z' stroke='%23F0AF3B' stroke-width='2'/%3e%3c/svg%3e");
      }
    }

    &__icon {
      margin-top: 20px;
    }
  }

  &-type {
    font-size: 12px;
    line-height: 12px;
  }

  &-name {
    font-size: 20px;
    line-height: 20px;

    @media (max-width: 1350px) {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 5px;
    }
  }

  &-composition {
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    opacity: 0.7;
    max-height: 48px;
    min-height: 48px;
    overflow: hidden;

    @media (max-width: 1350px) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }

  &__price-quantity {
    margin-bottom: 33px;

    @media (max-width: 1350px) {
      margin-bottom: 20px;
    }
  }
}

.slider-popular {
  max-width: 391px;
  margin-right: 10px;
}

.swiper-container-horizontal > .swiper-scrollbar {
  bottom: 0px;
  width: 100%;
  max-width: 496px;
  transform: translateX(-50%);
  min-width: 288px;
  position: absolute;
  left: 50%;
}
.swiper-scrollbar-drag {
  background-color: #f0af3b;
  box-shadow: 0px 5px 15px rgba(240, 175, 59, 0.5);
  border-radius: 6px;
  height: 8px;
  top: -2px;
}

.scroll-bar {
  position: relative;
  display: flex;
  justify-content: center;
}

.swiper-container-popular {
  height: 588px;

  @media (max-width: 1350px) {
    height: 425px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 50px 45px 50px;
}

.rectangle-flex {
  display: flex;
  height: 40px;
  border: 2.2px solid #f0af3b;
  box-sizing: border-box;
  border-radius: 0px 6px 6px 0px;
  border-left: unset;
  border-left-style: unset;
  align-items: center;
  padding-right: 10px;
  max-width: 120px;
  padding-left: 10px;
}

.rectangle-start {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='205' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.9528 2.60479C18.8992 1.58169 20.2296 1 21.6233 1H97c2.7614 0 5 2.23858 5 5v28c0 2.7614-2.2386 5-5 5H21.6233c-1.3937 0-2.7241-.5817-3.6705-1.6048l-12.95002-14c-1.77267-1.9164-1.77267-4.874 0-6.7904L17.9528 2.60479z' stroke='%23F0AF3B' stroke-width='2'/%3e%3ccircle cx='22' cy='20' r='3' stroke='%23F0AF3B' stroke-width='2'/%3e%3c/svg%3e");
  height: 40px;
  width: 30px;
}

.footer {
  padding: 45px 50px 45px 50px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1110px) {
    display: none;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__rights {
      font-family: "Roboto";
      font-size: 16px;
      line-height: 24px;
      color: #404040;
      opacity: 0.7;
      margin-bottom: 5px;
    }

    &__agree {
      font-family: "Igra Sans";
      font-size: 12px;
      line-height: 24px;
      color: #f0af3b;
    }
  }

  &-center {
    display: flex;
  }

  &-center-address-phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 75px;

    &__title {
      font-family: "Igra Sans";
      font-size: 12px;
      line-height: 12px;
      color: #999999;
      margin-bottom: 5px;
    }

    &__name {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #404040;
      margin-right: 28px;
    }

    &__name-callback {
      display: flex;
    }
  }

  &-right {
    display: flex;
  }

  &-social {
    margin-right: 20px;
    height: 40px;
    width: 40px;
  }
}

.footer-mobile {
  padding: 45px 50px 45px 50px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1110px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-center {
    margin-bottom: 35px;
    display: flex;
  }
}

@media (max-width: 1110px) {
  .footer-center-address-phone {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-center-address-phone__name-callback {
    display: flex;
    flex-direction: column;
  }

  .footer-center-address-phone__name {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .footer-left__agree {
    text-align: center;
  }

  .footer-center {
    display: flex;
    min-width: 240px;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .footer-social {
    margin-right: 10px;
  }

  .footer-left__rights {
    text-align: center;
  }

  .footer-left__agree {
    text-align: center;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  height: 66px;
  overflow: hidden;
  transition: 0.2s linear;

  &-mobile{
    display: flex;
    width: 100%;
    align-items: baseline;

    @media (min-width: 500px) {
      display: none;
    }
  
  }

  @media (min-width: 500px) {
    height: unset;
  }

  &-button-ico {
    margin-right: 10px;
    display: block;
  }

  &-open {
    height: 650px;
  }

  &-list {
    display: flex;
    width: 100%;

    @media (min-width: 500px) {
      display: none;
    }

    &__options {
      display: flex;
      flex-direction: column;
    }

    &__select {
      display: flex;
      padding: 25px;
      flex-direction: column;
      width: 100%;
    }
  }

  &-drop-down {
    display: flex;
    margin-bottom: 25px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;

    &__ico {
      display: block;
      height: 7px;
      width: 9px;
    }
  }

  &-current {
    display: flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #f0af3b;
  }

  &-title {
    padding: 25px;
    display: none;
    font-family: "Igra Sans";
    font-size: 16px;
    line-height: 16px;

    color: #404040;

    @media (max-width: 500px) {
      display: flex;
    }
  }

  &-type {
    display: flex;
    border-right: 2px #f7f7f7 solid;
    padding: 40px;

    @media (max-width: 1495px) {
      flex-wrap: wrap;
      padding: 20px;
      border-right: unset;
      border-bottom: 2px #f7f7f7 solid;
      width: 100%;
      padding-bottom: 0px;
    }

    &__button {
      width: max-content;
      height: 40px;
      border: 2px solid #f7f7f7;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 10px 20px;
      margin-right: 20px;
      font-family: "Roboto";
      font-size: 16px;
      line-height: 19px;
      color: #404040;
      margin-bottom: 20px;
      display: flex;
      position: relative;

      @media (max-width: 500px) {
        width: 100%;
        margin-right: 0px;
      }
    }
  }

  &-feature {
    display: flex;
    justify-content: flex-start;
    padding: 40px;

    @media (max-width: 1495px) {
      flex-wrap: wrap;
      padding: 20px;
      padding-bottom: 0px;
    }
  }

  &-active {
    border: 2px solid #f0af3b;
    box-sizing: border-box;
    border-radius: 6px;
  }
}

.act {
  position: absolute;
  top: -10px;
  right: -15px;
  display: none;
}

.pages-navigation {
  display: flex;
  justify-content: center;

  &-box {
    display: flex;
    justify-content: space-between;
    width: 382px;
  }

  &-button {
    width: 46px;
    height: 46px;
    border: 2px solid #cfcfcf;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      border: unset;
    }

    &__number {
      font-family: "Igra Sans";
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #404040;
    }
  }
}

.order {
  display: flex;
  justify-content: space-between;

  &-list {
  }

  &-personal-data {
  }

  &-box {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px #efefef solid;

    @media (max-width: 1265px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &-image {
    width: 102px;
    height: unset;
    margin-right: 40px;
    @media (max-width: 1265px) {
      width: 52px;
      height: unset;
    }

  }

  &-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 1265px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-total {
      padding: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;

      &__name {
        font-family: "Igra Sans";
        font-size: 16px;
        line-height: 16px;
        color: #404040;
        margin-right: 10px;
      }

      &__value {
        font-family: "Igra Sans";
        font-size: 26px;
        line-height: 26px;
        text-align: right;
        color: #f0af3b;
      }
    }

    &__icons {
      margin-right: 30px;
    }

    &-price {
      margin-right: 50px;
    }

    &-cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #f7f7f7;
      border-radius: 6px;
      padding: 10px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      margin-right: 70px;
    }

    &-counter {
      display: flex;
      align-items: center;
      margin-right: 60px;

      &__number {
        box-shadow: unset;
        left: unset;
        z-index: unset;
      }

      &__minus {
        position: relative;
        top: unset;
        left: unset;
        right: 0;
        bottom: 0;
      }

      &__plus {
        position: relative;
        top: unset;
        right: unset;
        left: 0;
      }
    }
  }
}

.fields {
  display: flex;
  padding: 40px;
  flex-direction: column;

  &__inputs{
    display: flex;
  }
}

.create-order-button {
  font-family: "Igra Sans";
  font-size: 14px;
  line-height: 14px;
  color: #FEFEFE;
  display: flex;
  width: 184px;
  height: 50px;
  background: #f0af3b;
  box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.07), 0px 15px 30px rgba(240, 175, 59, 0.2);
  border-radius: 6px;
  padding: 20px 30px 20px 30px;
}

.personal-data{

  margin-right: 40px;
  
  &__input-box{
    margin-bottom: 30px;
 
  }

  &__input{
    background-position: 95%;
    background-repeat: no-repeat;
  }

  &-agree{
    margin-bottom: 30px;
  }
}

.delivery{
  width: 100%;
}

input[type=text] {
  min-width: 100px;
  max-width: 348px;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #F5F5F5;
box-sizing: border-box;
border-radius: 6px;

&:focus{
  border: 2px solid #F0AF3B;
box-sizing: border-box;
border-radius: 6px;
}
}

textarea {
  width: 348px;
  height: 152px;
  border: 2px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 6px;
  resize: none;
  padding: 20px;

  &:focus{
    outline: none !important;
  }
}

.check {

  &__element {
    position: absolute;
    z-index: -1;
    display: none;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      margin-bottom: 20px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    & + label::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      background-color: #e8ebed;
    }

    &:checked + label {
      &::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
    }

    &:not(:disabled):active + label::before {
      background-color: #e8ebed;
      border-color: #b3d7ff;
      color: #428bca;
    }

    &:disabled + label::before {
      background-color: #e8ebed;
    }
  }
}


